.env
node_modules/
dist/
build/
.vite/
data/*
!data/.gitkeep
!data/postgres/
!data/postgres/.gitkeep
!data/elasticsearch/
!data/elasticsearch/.gitkeep
!data/redis/
!data/redis/.gitkeep

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

*.sqlite
*.sqlite3
*.log
